@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", system-ui, sans-serif;
  }

  h2 {
    font-family: "Poiret One";
    font-size: 40px;
  }

  body {
    font-family: "Raleway";
    font-weight: 400;
    color: #2D315E;
    letter-spacing: 0.05rem;
  }

  nav > * {
    font-family: Raleway;
  }
}

@layer components {
  .product-link-text {
    @apply hover:text-white hover:border-solid border-transparent hover:border-accent text-center font-normal uppercase border my-1 p-1 border-white rounded hover:bg-accent bg-white text-accent transition ease-in-out delay-150 duration-300;
  }
  .link-text {
    @apply text-primary font-normal uppercase px-3 lg:px-8;
  }

  .input-text {
    @apply px-4 py-2 mb-4 border-2 rounded-2xl border-light;
  }

  .text-area {
    @apply px-4 py-2 mb-4 border-2 rounded-2xl border-light;
  }

  .tb-col {
    @apply border p-4 text-center;
  }

  .link-text:hover,
  button:hover {
    opacity: 0.75;
  }

  .button {
    @apply px-4 py-2 text-white rounded-full bg-accent uppercase;
  }
}
